/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  /* --base-bg: #f1f3f5; */
  --base-bg: #f4e6d1;
  --primary-blue: #2196f3;
  --secondary-blue: #0078e7;
  --primary-highlight: #ff6f31;
  --background: #f9f9f0;
  --background-pair1: #e0d1a5;
  --background-pair3: #c7bb98;
  --background-pair2: #f1d992d7;
  --secondary-highlight: #4caf50;
  /* --secondary-background: #614f1a; */
  --secondary-backgorund: #602f1a;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.baloo-thambi-2,
h1,
h2,
h3 {
  font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  margin: 0;
  font-size: x-large;
}

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}

.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}
body,
html {
  overflow-x: hidden;
}
